---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    <h2>A place to share, learn, and discuss</h2>

    Hi! I'm a graduate student in Biomedical Engineering at the Mayo Clinic in Rochester, MN. I like images. I'm lucky enough to get to work with and study cool hardware that let's us look inside our bodies non-invasively (no scalpels required!), I'm talking about CT (Computed Tomography) and MRI (Magnetic Resonance Imaging). My thesis work focuses on CT and has given me the unique opportunity to build (2!) scanner from the ground up. While these are not full-patient sized scanners, (they could fit on a large dinning room table), they do enable us to experiment with new hardware components to test out ideas in ways not possible with an FDA-approved clinical scanner.

    The purpose of this blog is to act as a repository for me to write down some of the things I've learned while working on this project. Posts will generally be more on the technical side and I'll try to focus on general themes and techniques that can be approachable and usable to a wider market. This is all rather self-serving for two main reasons. 

    1. The first self reason: a persistent place to keep my notes. While I do enjoy working on micro-CT, it's more than likely that after a graduate I'll be working on very different projects. I hope to use this site as a place to organize my notes on various topics. Much like what I've seen done by others that I like: e.g. [Hamel Hussain's note blog](https://notes.hamel.dev/), and [Tom Roelandts blog](https://tomroelandts.com/)
    
    2. The second selfish reason: by trying to teach some of these topics to a broader audience, I hope to come to a better understanding of these topics myself.

    So while I do hope you have found your way to my site and find something useful or interest, it will still serve its purpose just for me.

  {{ content | markdownify }}


  {% if site.paginate %}
    {% assign rawposts = paginator.posts %}
  {% else %}
    {% assign rawposts = site.posts %}
  {% endif %}

  <!-- Hide posts if front matter flag hide:true -->
  {% assign posts = ''|split:'' %}
  {% for post in rawposts %}
    {% if post.hide != true %}
      {% assign posts = posts|push:post%}
    {% endif %}
  {% endfor %}

  <!-- Sort posts by rank, then date -->
  {% assign grouped_posts = posts | group_by: "sticky_rank" | sort: "name", "last" %}
  {% assign sticky_posts = ''|split:'' %}
  {% assign non_sticky_posts = '' | split:'' %}

 
  {% for gp in grouped_posts %}
    {%- if gp.name == "" -%}
      {% assign non_sticky_posts = gp.items | sort: "date" | reverse %}
    {%- else %}
      {% assign sticky_posts = sticky_posts | concat: gp.items %}
    {%- endif -%}
  {% endfor %}

   <!-- Assemble final sorted posts array -->
  {% assign sticky_posts = sticky_posts | sort: "sticky_rank", "last" %}
  {% assign posts = sticky_posts | concat: non_sticky_posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        {%- if site.show_image -%}
            {%- include post_list_image_card.html -%}
        {% else %}
            {%- include post_list.html -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate and site.posts.size > site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>